<!DOCTYPE html>
<html>
<head>
<title>{% block title %}{{ title }}{% endblock %}</title>
</head>
<body>
<header>
<h1>{{ self.title() }}</h1>
<nav>
<ul>
{% if not current_user.is_anonymous %}
Welcome, {{current_user.name}}! <a href="{{url_for('users.logout')}}">Logout</a>
{% endif %}
	<li><a href="/">Home</a></li>
	<li><a href="/wardrobe">Wardrobe</a></li>
{% if not current_user.is_anonymous %}
	<li><a href="/user/{{ current_user.id }}">Profile</a></li>
{% elif current_user.is_anonymous %}
	<li><a href="{{url_for('users.register')}}">Register</a> / <a href="{{url_for('users.login')}}">Log In</a></li>
{% endif %}
</ul>
</nav>
</header>
{% set messages = get_flashed_messages() %}
{% if messages %}
<section>
	{% for message in messages %}
	<p>{{ message }}</p>
	{% endfor %}
</section>
{% endif %}
<section>
{% block content %}{% endblock %}
</section>
<footer>
	WebApp Developed by <a href="https://www.github.com/rbed23">rbed23</a><br>
    &copy; Copyright 
    <script type="text/JavaScript">document.write(new Date().getFullYear());</script><br></footer>
</body>
</html>